<div class="container">
  <table id="cart" class="table table-hover table-condensed">
            <thead>
            <tr>
              <th style="width:10%"></th>
              <th style="width:20%"></th>
              <th style="width:20%"></th>
              <th style="width:20%"></th>
              <th style="width:10%"></th>
              <th style="width:10%"></th>
              <th style="width:10%"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-th="Order ID"><%= order.id %>
                <div class="row">
                  <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
                  <div class="col-sm-10">
                    <h4 class="nomargin"></h4>
                </div>
              </td>
              <td data-th="Client"><%= order.first_name %> <%= order.last_name %></td>
              <td data-th="Shipping Information">
                  <%= order.shipping_address %></br>
                  <%= order.shipping_city %></br>
                  <%= order.shipping_postalcode %></br>
                  <%= order.shipping_country %>
              </td>
              <td data-th="Product">
                <% for (i in line_items) { %>
                <% if (line_items[i].order_id === order.id) { %>
                <%= line_items[i].product_name %></br>
                <% } %>
                <% }; %>
              </td>
              <td data-th="Quantity">
                <% for (i in line_items) { %>
                <% if (line_items[i].order_id === order.id) { %>
                <%= line_items[i].quantity %></br>
                <% } %>
                <% }; %>
              </td>
              <td data-th="Unit Price">
                <% for (i in line_items) { %>
                <% if (line_items[i].order_id === order.id) { %>
                <%= line_items[i].unit_price %></br>
                <% } %>
                <% }; %>
              </td>
              <td data-th="Total"><%= order.total_cents %></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="7" class="hidden-xs"></td>
              <td class="hidden-xs text-center"></td>
            </tr>
          </tfoot>
        </table>
</div>


<!--  <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
<button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>-->
