<div class="product-list">
  <div class="col-xs-12 col-sm-6 col-md-4">
  <article class="col-item">
		<div class="photo" id="p-photo" data-item-id="<%= product.id %>">
      <a>
			<div class="options">
				<button class="btn share-button" data-toggle="tooltip" data-placement="top" title="Share">
					<i class="fa fa-share-alt"></i>
				</button>
			</div>
			<div class="options-cart">
				<button class="btn add-cart" title="Add to cart" data-item-image="<%= product.image%>" data-item-name="<%= product.name%>" data-item-price="<%= product.unit_price%>" data-item-id="<%= product.id%>">
					<span class="fa fa-shopping-cart"></span>
				</button>
			</div>
			<a href="#"> <img src="<%= product.image %>" class="img-responsive" alt="Product Image" /> </a>
		</div>
		<div class="info">
			<div class="row">
				<div class="price-details col-md-6">
					<p class="details"><%= product.description %>
					</p>
					<h1><%= product.name %></h1>
					<span class="price-new">$<%= product.unit_price %></span>
				</div>
			</div>
		</div>
	</article>
</div>
