</br>
</br>
</br>
</br>
</br>
</br>
<div class="container">
  <div class="row product">
    <div class="col-md-5 col-md-offset-0">
      <img id="image"
            src="<%= product.image %>"
            data-item-id="<%= product.id %>",
            data-item-image="<%= product.image %>"
            class="img-responsive" alt="Product Image" />
    </div>
    <div class="col-md-7">
      <h2 id="item-title"
              class="title"
              data-item-name="<%= product.name %>"
              data-item-id="<%= product.id %>"><%= product.name %></h2>
      <p id="description" data-item-description="<%= product.description%>">
        <%= product.description %></p>
      <select id="quantity-selected">
        <option value selected>Choose Quantity</option>
          <option value="2">2</option>
          <option value="4">4</option>
          <option value="6">6</option>
          <option value="12">12</option>
      </select>
      <div id="alert" class="alert alert-success" role="alert">
        <span>
          <strong>Added to cart!</strong>
        </span>
      </div>
      <h3 id="price"
          data-item-price="<%= product.unit_price %>">
          $<%= product.unit_price %></h3>
      <button class="btn btn-primary" type="button">
        Add to cart</button>
    </div>
    </div>
  </div>
